.header-container {
    display          : flex;
    flex-direction   : row-reverse;
    width            : 100%;
    height           : 10%;
    background-image : url('https://www.yangicheng.cn/static/image/header.png');
    background-size  : cover;
    background-repeat: no-repeat;
    user-select: none;
}

.weather-container {
    display       : flex;
    flex-direction: row;
    height        : 100%;
    align-items   : center;
    color:#dedede;
}
.date{
    line-height:1.5;
    padding-right:10px;
    margin-right: 10px;
    border-right: 2px solid #dedede;
}


.detail{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
}
.weather-img{
    height:50px;
    width:50px;
    margin-right:10px;
}
.discribe{
    display:flex;
    flex-direction:column;
    color:#dedede;
}



.manager{
    display:flex;
    flex-direction: row;
    align-items:center;
}
.manager-name{
    display:flex;
    flex-direction: column;   
    color:#dedede;
}
.header-iconfont{
    font-size:40px !important;
    color:gray;
    padding: 0 !important;
    margin: 0 5px; 
}
.exit-iconfont{
    cursor: pointer;
}

.my-confirm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 100;
}
